{% extends 'base.html' %} {% block content %}

<div class="container" style="text-align: center; font-weight:bold; text-shadow:2px 2px 2px tomato;font-size:40px;padding:5px;">
    <p>General Knowledge</p>

</div>

<div class="container" style="background-color: aliceblue; font-size:20px;text-align:center;margin-top:5px;border-top:3px solid tomato;">
    <p>General Knowledge page</p>
    <p>General Knowledge page</p>
    <p>General Knowledge page</p>
    <p>General Knowledge page</p>
    <p>General Knowledge page</p>
    <p>General Knowledge page</p>
</div>

{% endblock %}