{% extends 'base.html' %} {% block content %} {% load static %}


<div class="card-deck" style="margin-left: 10px;margin-right:10px;">
    <div class="card" style="border-radius: 15px;border:5px solid wheat;">
        <img class="card-img-top" src="{% static 'image/aptitude.webp' %}" alt="Card image cap" height="190px" width="300px">
        <div class="card-body">
            <b><h2 class="card-title text-center" style="text-shadow: 1px 2px 1px rgb(245, 169, 54);">Aptitude</h2></b>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a href="{% url 'aptitude' %}" class="btn btn-primary" id="know-more">know-more</a>
    </div>
    <div class="card" style="border-radius: 15px;border:5px solid wheat;">
        <img class="card-img-top" src="{% static 'image/aptitude.webp' %}" alt="Card image cap" height="190px" width="300px">
        <div class="card-body">
            <b><h2 class="card-title text-center" style="text-shadow: 1px 2px 1px rgb(245, 169, 54);">Reasogning</h2></b>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a href="{% url 'reasogning' %}" class="btn btn-primary" id="know-more">know-more</a>
    </div>
    <div class="card" style="border-radius: 15px;border:5px solid wheat;">
        <img class="card-img-top" src="{% static 'image/aptitude.webp' %}" alt="Card image cap" height="190px" width="300px">
        <div class="card-body">
            <b><h2 class="card-title text-center" style="text-shadow: 1px 2px 1px rgb(245, 169, 54);">General Knowledge</h2></b>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a href="{% url 'gk' %}" class="btn btn-primary " id="know-more">know-more</a>
    </div>
</div>



{% endblock %}